/* Controls */

#controls-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #47484f;
  padding: 4px;
  color: white;
  text-align: center;
}

.key-combo {
  margin: 0 8px;
}

.key {
  color: black;
}

.key-combo img {
  display: block;
  margin: 0 auto;
}

.key-explanation {
  font-family: "Changa", sans-serif;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  max-height: 15px;
  margin: 2px 0px;
}

.key-set {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  background: white;
  padding: 0 8px;
  min-width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 2px solid black;
  text-align: center;
  line-height: 30px;
}

.key:hover {
  background: #ddd;
}

.mouse-img {
  border: 2px solid black;
  padding: 0px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
}

#edit-key {
  width: 300px;
  height: 150px;
  background: #c9c9c9;
  color: black;
  text-align: center;
  line-height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 12px 24px 0 rgba(60, 60, 60, 1);
  visibility: hidden;
}
